<div id="comment-397433" class="comment">
    <div class="inner">
        <div class="comment-header">
            <div class="asset-meta">
                <p>
                <span class="byline">


                    <span class="vcard author">呼呼扯</span>

 说：
                </span>
                </p>
            </div>
        </div>
        <div class="comment-content" id="comment-quote-397433">
            <blockquote>
                <pre>引用阿童木的发言：</pre>

                <p>那个厕所用小凳子发明，我觉得好奇怪啊，为什么不用蹲厕呢，中国也是，为什么家里都装马桶呢，蹲厕不是更方便吗</p>

            </blockquote>

            <p>因为坐便器更容易冲水，而且很多老人需要坐便器，并且也可以揭开盖子直接蹲上去，也就是说兼容了蹲厕的功能。</p>
        </div>
        <div class="comment-footer">
            <div class="comment-footer-inner">
                <p>
                    <abbr class="published" title="December 14, 2018  5:11 PM">2018年12月14日 17:11</abbr>
                    | <a href="http://www.ruanyifeng.com/blog/2018/12/weekly-issue-35.html#comment-397433">#</a>
                    | <a href="#comment-text" title="引用呼呼扯的这条留言"
                         onclick="return CommentQuote('comment-quote-397433','呼呼扯');">引用</a>
                </p>
            </div>
        </div>
    </div>
</div>

<blockquote>
    <pre>引用111的发言：</pre>


    过分过分过分


</blockquote>

反倒是反倒是
范德萨范德萨分