<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>11111</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/blog.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div id="container-common">
        <div id="header">
            <div id="navbar">
                <ol class="breadcrumb">
                    <li>赵志强的网络日志</li>
                    <li><a href="/article">首页</a></li>
                    <li><a href="/archivesIndex">档案</a></li>
                </ol>
            </div>
            <hr/>
        </div>
        <div>
            <div style="float: left;width: 63%">
                <div class="archives-content-article">
                    <h2>
                        <a href="aaaa">每周分享第 35 期</a>
                    </h2>
                    <hr/>
                    <div>
                        <span>分类<a>剪贴板</a></span>
                    </div>
                    <div class="archives-content-article-content">
                        <p>这里记录过去一周，我看到的值得分享的东西，每周五发布</p>
                    </div>
                    <div>
                        <a>继续阅读全文</a>
                    </div>
                    <hr/>
                    <div>
                        2018年12月14日 12:24 | 留言（41）
                    </div>
                    <div>
                        <h2>最近的20篇文章（共1756篇）</h2>
                        <hr/>
                        <ul>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                            <li>2018.12.12：<a>异步 API 的设计</a>（12条评论）</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="archives-category" style="float: right;width: 26%">
                <div id="archives-category-inner"
                     style="border-radius: 2rem;border: solid 1px ;border-color: #0f0f0f33 ">
                    <div style="margin: 2rem">
                        <h3><strong><i>分类</i></strong></h3>
                        <hr/>
                        <div style="min-height:25rem;">
                            <ul>
                                <li><a>散文</a>（161）</li>
                                <li><a>散文</a>（161）</li>
                                <li><a>散文</a>（161）</li>
                                <li><a>散文</a>（161）</li>
                                <li><a>散文</a>（161）</li>
                                <li><a>散文</a>（161）</li>
                                <li><a>散文</a>（161）</li>
                                <li><a>散文</a>（161）</li>
                                <li><a>散文</a>（161）</li>
                                <li><a>散文</a>（161）</li>
                                <li><a>散文</a>（161）</li>
                                <li><a>散文</a>（161）</li>
                                <li><a>散文</a>（161）</li>
                                <li><a>散文</a>（161）</li>
                                <li><a>散文</a>（161）</li>
                                <li><a>散文</a>（161）</li>
                                <li><a>散文</a>（161）</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
        <#include "../footer.html">
    </div>
</div>
<script src="../js/jquery-3.3.1.js"></script>
<script src="../js/showdown.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>
