<@override name="content">
<div >
    <div style="height: 300px;background-color: red"></div>
</div>
</@override>
<@override name="js">
<script type="text/javascript">
    $(document).ready(function () {
        $("#convert").on("click", function () {

        })
        var converter = new showdown.Converter(),
            html = converter.makeHtml("#第一级标题 \n##第二级标题  \n###第三级标题 \n####第四级标题 \n#####第五级标题 \n\n第一，潜艇设备有缺陷。对于常规潜艇充电时存在安全隐患，这是各国军方都清楚知道的事情。作为这种隐患的防备技术，并不难解决，只要简单的对艇内氧气检测，一旦低于危险标准就自动关闭柴油机或者至少进行报警就行了。但遗憾的是，361号潜艇压根没有这种设备。\n\n第二，潜艇官兵有失误。正常的充电期间，只要启动柴油机，就务必确认通气管是否打开。柴油机工作时，最好将机舱密封，防止危及全艇。如发现情况，操作员就要以最短的时间使柴油机停止工作，并进行通风换气。但遗憾的是：所有这些，361号潜艇都没有做到，以至遭受灭顶之灾\n");
        $("#article-content").html(html);

    });
</script>
</@override>
<@extends name="../layout/article_layout.html"/>
