<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <title>11111</title>
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/blog.css" rel="stylesheet">
    </head>
    <body>

        <div class="container">
            <div id="container-common">
                <div id="header">
                    <div id="navbar">
                        <ol class="breadcrumb">
                            <li>赵志强的网络日志</li>
                            <li><a href="#">首页</a></li>
                            <li><a href="#">档案</a></li>
                        </ol>
                    </div>
                    <hr/>
                </div>
                <div id="archives-content">
                    <div id="archives-content-title">
                            <div >开发者手册(36条)</div>
                    </div>
                    <div id="archives-content-detail">
                        <div class="archives-content-detail">
                            <h3>2018年</h3>
                            <hr/>
                            <ul>
                                <li><span><a href="#">awk 入门教程</a>（12@2018.11.07）</span></li>
                                <li><a href="#">DDOS 攻击的防范教程</a>（12@2018.11.07）</li>
                                <li><a href="#">Vim 配置入门</a>12@2018.11.07）</li>
                                <li><a href="#">JSON Web Token 入门教程</a>（12@2018.11.07）</li>
                            </ul>
                        </div>
                        <div class="archives-content-detail">
                            <h3>2017年</h3>
                            <hr/>
                            <ul>
                                <li><span><a href="#">awk 入门教程</a>（12@2018.11.07）</span></li>
                                <li><a href="#">DDOS 攻击的防范教程</a>（12@2018.11.07）</li>
                                <li><a href="#">Vim 配置入门</a>12@2018.11.07）</li>
                                <li><a href="#">JSON Web Token 入门教程</a>（12@2018.11.07）</li>
                            </ul>
                        </div>
                        <div class="archives-content-detail">
                            <h3>2016年</h3>
                            <hr/>
                            <ul>
                                <li><span><a href="#">awk 入门教程</a>（12@2018.11.07）</span></li>
                                <li><a href="#">DDOS 攻击的防范教程</a>（12@2018.11.07）</li>
                                <li><a href="#">Vim 配置入门</a>12@2018.11.07）</li>
                                <li><a href="#">JSON Web Token 入门教程</a>（12@2018.11.07）</li>
                            </ul>
                        </div>
                        <div class="archives-content-detail">
                            <h3>2015年</h3>
                            <hr/>
                            <ul>
                                <li><span><a href="#">awk 入门教程</a>（12@2018.11.07）</span></li>
                                <li><a href="#">DDOS 攻击的防范教程</a>（12@2018.11.07）</li>
                                <li><a href="#">Vim 配置入门</a>12@2018.11.07）</li>
                                <li><a href="#">JSON Web Token 入门教程</a>（12@2018.11.07）</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="archives-category">
                    <div id="archives-category-inner" style="border-radius: 2rem;border: solid 1px ;border-color: #0f0f0f33 ">
                        <div>
                            <ul>
                                <li>1111111111</li>
                                <li>22222222222</li>
                                <li>3333333333</li>
                                <li>4444444444</li>
                                <li>666666666</li>
                                <li>777777777</li>
                            </ul>
                        </div>
                    </div>
                </div>
                    <div style="clear: both"></div>
                </div>
                <@block name="content">
                </@block>
            <#include "../footer.html">
            </div>
        </div>
        <script src="../js/jquery-3.3.1.js"></script>
        <script src="../js/showdown.js"></script>
        <script src="../js/bootstrap.js"></script>
    </body>
    <@block name="js"></@block>
</html>
