#container-inner {
    margin: 2rem auto;
    height: auto;
    width: 78%;
}

body {
    font-family: Georgia, serif;
    letter-spacing: -0.01rem;
    word-spacing: 0.2rem;
    line-height: 1.8rem;
    color: #111111;
    width: 98%;
}

#navbar, .category, span, div, ul, li, a {
    font-size: 1.8rem;
}

hr {
    border-color: #0f0f0f33;
}

.content-header {
    height: 6rem;
    background-color: rgba(3,54,116,0.34);
    border-radius: 1.2rem;
    /**rgba(18, 51, 122, 0.42) **/
}

.category {
    margin-top: 1.3rem;
    margin-left: 1.2rem;
    float: left;
}

.pre-next-article {
    float: right;
    margin-top: 0.8rem;
    margin-right: 1.3rem;
}

.pre-next-article   ul {
    list-style: none;
    padding: 0;
}
span{
    margin-right: 0.1rem;
}
.pre-next-article li{
    line-height: 2.9rem;
}
#archives-category-inner li,#article-footer li{
    line-height: 3rem;
}
#content-title{
    margin: 2.5rem 0;
}
#article-header{
    margin: 2rem 0;
    color: rgba(4,1,4,0.65);
}
#article-header-author,#article-header-date{
    margin: 1.8rem 0;
    padding-left: 1.8rem;
}
#comment-header span{
    font-size: 3rem
}
#comment{
    margin-top: 3rem;
}
#comment-item{
    background-color: #1b6d85;
}
.indent{
    margin: 1rem 0;
    text-indent: 2rem;
}
.comment-item-footer a,.comment-item-footer span,.comment-item-footer{
    font-size: 20%;
}
.comment-item-footer{
    float: right;
}
.comment-item hr{
    clear: both;
}
p{
    line-height: 2.4rem;
}
#article-content h1{
    margin-left: 0.5rem;
}
#article-content h2{
    margin-left: 0.7rem;
}
#article-content h3{
    margin-left: 0.9rem;
}
#article-content h4{
    margin-left: 1.1rem;
}
#article-content h5{
    margin-left: 1.3rem;
}
#article-content p{
    margin-left: 2.1rem;
}
#container-common{
    margin: 2rem auto;
    height: auto;
}
#archives-content{
    margin: 1rem 1rem 1rem 1rem;
    width: 62%;
    float: left;
}
#archives-content-title{
    height: 4rem;
    background-color: #2aabd288;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    align-items:center;/*垂直居中*/
    justify-content: center;/*水平居中*/
}
#archives-category{
    width: 25%;
    float: right;
    margin:3rem auto;
}
#archives-content-detail div,#archives-content-detail span,#archives-content-detail a{
    font-size: 1.6rem;
}
#archives-content-detail ul{
    list-style-type: square;
}
#archives-content-detail h3{
    text-align: center;
    margin: 2rem 0 0 0;
}
#archives-content-detail hr{
    margin: 0.7rem 1rem;
}
#archives-content-detail li{
    line-height: 3rem;
}
.archives-content-detail{
    margin: 3rem auto;
}
#archives-category-inner hr{
    margin: 0.7rem 0.5rem;
}
